.home{
    min-height: 100vh;
    height: auto;
    background: black;
    color: white;
    width:100%;

    &-search{
        
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        input{
            padding: 10px;
            outline:none;
            border:1px solid orange;
            width: 300px;
            font-size: 18px;
            border-radius: 10px;
            margin-top: 20px 0;
        }

        button{
            font-size: 18px;
            border: 1px solid grey;
            padding: 5px;
            color: white;
            background: orange;
            margin-left: 10px;
            border-radius: 5px;
            outline: none;

        }
    }
}